body {
  padding: 10px;
  overflow: hidden;
}

.wrapper {
  overflow-x: auto;
}

.floor {
  position: relative;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.floor div {
  position: sticky;
  left: 8px;
  width: fit-content;
  z-index: 999;
}

.button-grp {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 8px;
}

.button-grp button {
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  color: white;
  cursor: pointer;
}

.floor:first-child .button-grp button.up {
  display: none;
}
.floor:last-child .button-grp button.down {
  display: none;
}

.button-grp button:hover {
  opacity: 0.5;
}

.button-grp button.up {
  background-color: green;
}

.button-grp button.down {
  background-color: red;
}

.floor hr {
  width: 100%;
}

.lift-container {
  position: relative;
  display: flex;
  align-items: center;
  width: max-content;
  height: 150px;
  padding: 0 16px;
  background-color: rgb(221, 220, 220);
}

.lift-container .lift {
  display: flex;
  flex-direction: row;
  min-width: 100px;
  height: 90%;
  overflow-x: hidden;
  border: black 2px solid;
  margin-left: 100px;
}

.lift-container .lift.lift:last-child {
  margin-right: 50px;
}

.lift-container .lift span:first-child {
  border-right: 2px solid white;
}

.lift-container .lift span {
  width: 50px;
  background-color: black;
  transition: transform 2s linear;
}
